#textFieldSearch {
    -fx-background-color: #40457B;
}

#textFieldSearch:focused {
    -fx-text-fill: white;
}

#buttonChangeProfilePhoto {
    -fx-background-color: #40457B;
    -fx-background-radius: 6px;
}

#buttonChangeProfilePhoto:hover {
    -fx-background-color: #333A83;
}

#buttonAddPhoto {
    -fx-background-color: #40457B;
    -fx-background-radius: 6px;
}

#buttonAddPhoto:hover {
    -fx-background-color: #333A83;
}

#buttonWritePost {
    -fx-background-color: #40457B;
    -fx-background-radius: 6px;
}

#buttonWritePost:hover {
    -fx-background-color: #333A83;
}

#buttonStPostProfile {
    -fx-background-color: white;
    -fx-background-radius: 15px;
}

#buttonNdPostProfile {
    -fx-background-color: white;
    -fx-background-radius: 15px;
}