#textFieldSearch {
    -fx-background-color: #40457B;
}

#textFieldSearch:focused {
    -fx-text-fill: white;
}

#buttonChangeProfilePhoto {
    -fx-background-color: #40457B;
    -fx-background-radius: 6px;
}

#buttonChangeProfilePhoto:hover {
    -fx-background-color: #333A83;
}

#buttonAddPhoto {
    -fx-background-color: #40457B;
    -fx-background-radius: 6px;
}

#buttonAddPhoto:hover {
    -fx-background-color: #333A83;
}

#buttonWritePost {
    -fx-background-color: #40457B;
    -fx-background-radius: 6px;
}

#buttonWritePost:hover {
    -fx-background-color: #333A83;
}

#buttonGeneratePDFReport {
    -fx-background-color: #40457B;
    -fx-background-radius: 6px;
}

#buttonGeneratePDFReport:hover {
    -fx-background-color: #333A83;
}

#buttonGenerateHTMLReport {
    -fx-background-color: #40457B;
    -fx-background-radius: 6px;
}

#buttonGenerateHTMLReport:hover {
    -fx-background-color: #333A83;
}

#buttonStPostProfile {
    -fx-background-color: white;
    -fx-background-radius: 15px;
}

#buttonNdPostProfile {
    -fx-background-color: white;
    -fx-background-radius: 15px;
}

/* STATISTICS START */

#labelIntroduceYear {
    -fx-font-size: 19.5px;
    -fx-font-weight: bold;
    -fx-text-fill: #40457B;
}

#labelIntroduceTimeInterval {
    -fx-font-size: 19.5px;
    -fx-font-weight: bold;
    -fx-text-fill: #40457B;
}

#labelStartDate {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#labelEndDate {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#labelYear {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#datePickerStartDate:focused {
    -fx-background-color: #DAE2F8;
    -fx-text-fill: #40457B;
}

#datePickerEndDate:focused {
    -fx-background-color: #DAE2F8;
    -fx-text-fill: #40457B;
}

#textFieldYear:focused {
    -fx-background-color: #40457B;
    -fx-text-fill: #DAE2F8;
}

/* STATISTICS END */