.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #572aba;
}

.button {
    -fx-text-fill:  linear-gradient(#572aba, #4f3b56);
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#DAE2F8, #916698);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: linear-gradient(#916698, #DAE2F8);
}

.table-row-cell:selected {
    -fx-background-color: linear-gradient(#b5a3d2, #ab9bb3);
}

#tableColumnLastName {
    -fx-font-size: 12px;
    -fx-text-fill: linear-gradient(#572aba, #9f73ac);
    -fx-alignment: center;
    -fx-font-weight: bold;
}

#tableColumnFirstName {
    -fx-font-size: 12px;
    -fx-text-fill: linear-gradient(#572aba, #9f73ac);
    -fx-alignment: center;
    -fx-font-weight: bold;
}

#tableColumnLastName:hover {
    -fx-text-fill: linear-gradient(#3608a2, #5f4866);
}

#tableColumnFirstName:hover {
    -fx-text-fill: linear-gradient(#3608a2, #5f4866);
}

.table-view:focused .table-row-cell:focused {
    -fx-background-insets: 0, 0 0 1 0;
}

#tableViewStrangers {
    -fx-background-color: linear-gradient(#aba2a2, #7b28ac);
}

#textFieldSearch {
    -fx-text-fill: linear-gradient(#3608a2, #5f4866);
}

#textFieldMessage {
    -fx-text-fill: linear-gradient(#3608a2, #5f4866);
}

#textFieldSearch:focused {
    -fx-background-color: linear-gradient(#b5a3d2, #ab9bb3);
}

#textFieldMessage:focused {
    -fx-background-color: linear-gradient(#b5a3d2, #ab9bb3);
}