#textFieldUsernameSignup:focused {
    -fx-background-color: #dae2f8;
    -fx-text-fill: #40457B;
}

#textFieldLastname:focused {
    -fx-background-color: #dae2f8;
    -fx-text-fill: #40457B;
}

#textFieldFirstname:focused {
    -fx-background-color: #dae2f8;
    -fx-text-fill: #40457B;
}

#textFieldUsername:focused {
    -fx-background-color: #dae2f8;
    -fx-text-fill: #40457B;
}