#buttonDiscover {
    -fx-background-color: #40457B;
}

#buttonDiscover:hover {
    -fx-background-color: #333A83;
}

#buttonYourEvents {
    -fx-background-color: #40457B;
}

#buttonYourEvents:hover {
    -fx-background-color: #333A83;
}

#buttonAddEvent {
    -fx-background-color: #40457B;
}

#buttonAddEvent:hover {
    -fx-background-color: #333A83;
}

#buttonManage {
    -fx-background-color: #40457B;
}

#buttonManage:hover {
    -fx-background-color: #333A83;
}

#buttonParticipate {
    -fx-background-color: #40457B;
}

#buttonParticipate:hover {
    -fx-background-color: #333A83;
}

#buttonSubscribe {
    -fx-background-color: #40457B;
}

#buttonSubscribe:hover {
    -fx-background-color: #333A83;
}

#buttonAddNewEvent {
    -fx-background-color: #40457B;
}

#buttonAddNewEvent:hover {
    -fx-background-color: #333A83;
}

#buttonDeleteEvent {
    -fx-background-color: #40457B;
}

#buttonDeleteEvent:hover {
    -fx-background-color: #333A83;
}